@keyframes rotation {
  from {
    transform: rotate(0 deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* выше установили ограничения для секции */
}
.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

.header__title {
  margin: 0;
  padding: 0;
  width: 730px;
  margin-left: 64px;
  z-index: 100;
  line-height: 96px;
  font-size: 102px;
  font-style: 600;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 100;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  z-index: 100;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

.content {
  margin: 0;
  padding: 0;
  position: relative;
}

.description {
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 10%;
  margin-top: 100px;
  margin-bottom: 0;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:first-child {
  margin-top: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0;
}

.digits {
  color: #000;
  margin: 0;
  padding: 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin: 0 auto 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 1100px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px;
}

.table__cell {
  width: 250px;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  background-color: #f2f2f2;
  min-height: 890px;
  margin-bottom: 100px;
}

.feynman__title {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 100;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 100;
}

.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 100;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__main-illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
  z-index: 1;
}

.kaufman {
  color: white;
  background-color: #1f1f1f;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  margin: 0;
  padding: 0;
  margin-top: 90px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.section-subtitle_theme_dark {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0 auto;
}

.table__cell_theme_dark {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  width: 200px;
  z-index: 100;
  color: white;
}

.table__heading_theme_dark {
  margin: 0;
  padding: 0;
  z-index: 100;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  margin: 0;
  padding: 0;
  z-index: 100;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  height: 877px;
  width: 877px;
  z-index: 1;
  position: absolute;
  right: -210px;
  top: 0px;
  background-size: contain;
}

.footer {
  color: white;
  background-color: #1f1f1f;
  z-index: 0;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  width: 90%;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo__place_footer {
}

.footer__author {
  padding: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  padding: 0;
  margin: 20px 0 16px;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.header__square-pic_rotation {
  animation: rotation 20s infinite linear;
}

.kaufman__triangle_rotation {
  animation: rotation 20s infinite linear;
}

.techniques {
  width: 80%;
  margin: 0 auto;
  color: #000;
}

.section-title_theme_white {
  width: 60%;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-subtitle_theme_white {
  width: 60%;
  margin-bottom: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  width: 920px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cards__item {
  width: 240px;
  margin-right: 100px;
  padding: 0;
}

.cards__item:nth-last-of-type(3) {
  margin-right: 0;
} /* Убирает отсуп справа 100px у третьего элемента списка */

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 60px;
  margin-right: 40px;
  margin-bottom: 43px;
  margin-left: 40px;
}
.cards__title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.cards__description {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  margin: 0;
  padding: 0;
  color: #000;
}

.section-title_theme_clips {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 100px auto 0;
  padding: 0;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-subtitle_theme_clips {
  margin: 0;
  padding: 0;
  width: 60%;
  margin: 20px auto 0;
}

.video__iframes {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  position: relative;
  }

.video__iframe {
  width: 515px;
  min-height: 316px;
  margin-right: 20px;
  z-index: 10;
  position: absolute;
  overflow: visible;
  }

.video__iframe:last-child {
  margin-right: 0;
} /* Убирает правый отсутп 20px у последнего элемента */

.oakley {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  }

  .two-columns_history_barbara {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 10%;
    margin-top: 100px;
    margin-bottom: 0;
    width: 80%;
    margin-top: 160px;
  }

  .two-columns__brief_history_barbara {
    width: 175px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
  }

  .two-columns__main-text_history_barbara {
    width: 80%;
    min-width: 784px;
    margin: 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }

  .two-columns__paragraph_history_barbara {
    padding: 0;
    margin: 0 0 30px 0;
    margin-top: 160px;
  }


.khan {
  margin: 0;
  padding: 0;
  color:#000;
  background-color: #f2f2f2;
  }

.khan__container {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  border: 1px solid red;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  border: 1px solid green;
  margin-top: 105px;
}

.khan__title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  line-height: 1.15px;
  font-size: 60px;
  font-weight: 600;
  border: 1px solid blue;
}

.khan__quote {
  margin: 0;
  padding: 0;
  width: 790px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  border: 1px solid yellow;
}

.khan__quote__author {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  line-height: 1.15px;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid blueviolet;
}

.khan__quote-author-subline {
  margin: 0;
  padding: 0;
  line-height: 1.15px;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin: 0;
  padding: 0;
  }

.khan__book-pic {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 608px;
  margin-right: 48px;
  margin-top: 68px;

  }

.khan__buy-link {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-align: start;
  color:#2f80ed
}

.resources {
  margin: 0;
  padding: 0;
  color:#000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title_good_resource {
  margin: 0;
  padding: 0;
  width: 60%;
  margin-top: 100px;
}

.section-subtitle_good_resource {
  margin: 0;
  padding: 0;
  width: 60%;
  margin-top: 20px;
}

.resources__logo-zon {
  margin: 0;
  padding: 0;
  width: 1100;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 217px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resources__link {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 38px;
}

.all__link:hover {
opacity: 0.4;
transition: 1s;
}  /* Для описания общих правил для ссылок */
